/*Arquivo que contem os estilos da pagina*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    /*background-color: #f4f5fc;*/
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 35px 0 0 8%;
}

.container_principal{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    /*border: 7px solid blue;*/
}

/* ========== AREA DE TEXTO ========== */
/*.container_principal */
.area_texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: clamp(550px, 55%, 950px);
    position: relative;
    /*border: 3px solid blue;*/
}

.area_texto_input{
    width: 100%;
    height: 80%;
    font-size: 2rem;
    padding: 20px;
    resize: none;
    /*border: none;*/
}
.area_texto_input:focus{
    /*box-shadow: 0 0 0 0;
    border: none;*/
    outline: 0;
}
/*
.area_texto .area_texto_input:active{
    border: none;
    border: 10px solid blue;
}*/

.text_invalid{
    border: 2px solid red;
    box-shadow: 0px 0px 6px #ff0000;
}

.area_texto .alert{
    display: flex;
    align-items: center;
    /*margin-top: 10px;*/
    /*border: 3px solid blue;*/
}
.area_texto span{
    font-size: 1.5rem;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
}


/* ========== BOTÕES ========== */
.botoes{
    width: 100%;
    /*position: absolute;
    bottom: 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /*border: 3px solid red;*/
}
.botoes button{
    width: 400px;
    height: 60px;
    font-size: 1.5rem;
    color: #0f498f;
    font-family: Helvetica, sans-serif;
    font-weight: 550;
    border-radius: 20px;
    border: 2px solid #0f498f;
    box-shadow: 0px 0px 8px #000;
}

.btn1{
    color: #fff !important;
    background-color: #0f498f;
}

.botoes button:hover{
    cursor: pointer;
}

.botoes button:active{
    border: 1px solid gray;
}

/* ========== RESULTADO ========== */
/*.container_principal */
.resultado{
    height: 700px;
    width: clamp(250px, 25%, 350px);
    /*background-color: #f0f0f0;*/
    background-color: #f5eded;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 8px #000;
    /*border: 3px solid pink;*/
}

.resultado_bg{
    width: 100%;
    height: 70%;
}

.outputText{
    margin: 10px;
    position: absolute;
    top: 25px;
    font-size: 1.3rem;
    /*border: 3px solid blue;*/
}

.hide{
    display: none;
}

/* ========== FOOTER ========== */
.footer{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid rgb(145, 144, 144);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f498f;
}

footer p{
    font-size: 1.8rem;
    color: #cfc0c0;
}

footer p a{
    text-decoration: none;
    color: #ffffff;
}

/* 156 linhas */