/*Arquivo que contem os estilos da pagina*/

:root{
    --color-red: #ff0000;
    --color-blue: #0f498f;
    --color-black: #000;
    --color-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body, .header, .container_principal{
    width: 100%;
}

body{
    height: 100vh;
    position: relative;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;/*100px*/
    padding: 2% 0 0 8%;
    z-index: 1;
}

.container_principal{
    height: 100%;
    gap: 5%;
}

/* ========== AREA DE TEXTO ========== */
.area_texto{
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;/*700px*/
    width: clamp(450px, 55%, 950px);/*(550px, 55%, 950px)*/
    position: relative;
}

.area_texto_input{
    width: 100%;
    height: 80%;
    font-size: 2rem;
    padding: 20px;
    resize: none;
}
.area_texto_input:focus{
    /*box-shadow: 0 0 0 0;
    border: none;*/
    outline: 0;
}

.text_invalid{
    border: 2px solid var(--color-red);
    box-shadow: 0px 0px 6px var(--color-red);
}

.area_texto .alert{
    display: flex;
    align-items: center;
}

.area_texto span{
    font-size: 1.5rem;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
}


/* ========== BOTÕES ========== */
.botoes{
    width: 100%;
    gap: 20px;
   /* border: 3px solid red;*/
}


.botoes button{
    width: 400px;
    height: 60px;
    font-size: 1.5rem;
    color: var(--color-blue);
    font-family: Helvetica, sans-serif;
    font-weight: 550;
    border-radius: 20px;
    border: 2px solid var(--color-blue);
    box-shadow: 0px 0px 8px var(--color-black);
}

.btn1{
    color: var(--color-white) !important;
    background-color: var(--color-blue);
}

.botoes button:hover{
    cursor: pointer;
}

.botoes button:active{
    border: 1px solid gray;
}

/* ========== RESULTADO ========== */
.resultado{
    height: 80%;/*700px*/
    width: clamp(300px, 25%, 350px);/*(250px, 25%, 350px)*/
    background-color: #f5eded;
    border-radius: 30px;
    position: relative;
    flex-direction: column;
    box-shadow: 0px 0px 8px var(--color-black);
}

.resultado_bg{
    width: 100%;
}

.mensagem{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.outputText{
    margin: 10px;
    position: absolute;
    top: 25px;
    font-size: 1.3rem;
}

.hide{
    display: none;
}

.btn_copiar{
    position: absolute;
    bottom: 20px;
    /*width: 400px;*/
    width: 90%;
    height: 60px;
    font-size: 1.5rem;
    color: var(--color-blue);
    font-family: Helvetica, sans-serif;
    font-weight: 550;
    border-radius: 20px;
    border: 2px solid var(--color-blue);
    box-shadow: 0px 0px 8px var(--color-black);
}
.btn_copiar:hover{
    cursor: pointer;
}

/* ========== FOOTER ========== */
.footer{
    width: 100%;
    height: 8%;/*70px*/
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid rgb(145, 144, 144);
    background-color: #0f498f;
}

footer p{
    font-size: 1.8rem;
    color: #cfc0c0;
}

footer p a{
    text-decoration: none;
    color: var(--color-white);
}



/* ==================== ==================== */
@media screen and (max-width: 1024px){
    .area_texto_input{
        font-size: 1.5rem;
    }

    .area_texto span{
        font-size: 1.2rem;
    }

    .footer{
        height: 6%;
    }
}


/* ==================== ==================== */
@media screen and (max-width: 768px){
    .height_auto{
        height: auto;
    }

    .container_principal{
        flex-direction: column;
        padding: 12% 0;
        gap: 30px;
    }

    .area_texto{
        width: 90%;
        height: 700px;
    }

    .resultado{
        width: 90%;
        height: auto;
        padding: 20px 10px;
    }

    .resultado_bg{
        display: none;
    }

    .outputText{
        position: static;
    }

    .btn_copiar{
        position: static;
    }
}


/* ==================== ==================== */
@media screen and (max-width: 480px){
    .container_principal{
        padding: 80px 0;
        gap: 30px;
        /*border: 6px solid green;*/
    }

    .area_texto{
        height: 450px;
        /*border: 6px solid blue;*/
    }

    .area_texto_input{
        height: 75%;
        font-size: 1.2rem;
        padding: 10px;
    }
    .area_texto span{ font-size: 1rem; }

    .botoes button{
        height: 50px;
        font-size: 1.2rem;
    }

    .resultado{
        width: 90%;
        height: auto;
        padding: 20px 10px;
        /*border: 3px solid red;*/
    }

    .footer{
        height: 60px;
    }

    footer p{
        font-size: 1.2rem;
    }
}


